<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/axios/axios.min.js"></script>
  <script src="/jquery/jquery.js"></script>
  <title>La Nasa</title>
<style>
  li{ display: inline-block;}
  a, li { color: white}
</style>
</head>
<body>
  <ul style="background: black; padding: 5px;">
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/admin">Admin</a></li>
  </ul>
{{#if urlHome}}
{{> Home}}
<script>
let url = "http://localhost:3000/"
let email = document.getElementById("email")
let nombre = document.getElementById("nombre")
let password = document.getElementById("password")

function nuevoUsuario() {
  let data = {
    email: email.value,
    nombre: nombre.value,
    password: password.value,
  }
  console.log(data)
  axios.post(url, data).then((data) => {
    location.href = "http://localhost:3000/login"
    alert("Registro exitoso")
  })
}
</script>
{{/if}}
<!--Iniciar sesión-->
{{#if urlLogin}}
{{> Login}}
<script>
async function verificacion() {
  let email
  let password

  await axios.get("http://localhost:3000/token?email=" + email.value + "&password=" + password.value)
  .then((data) => {
    localStorage.setItem('jwt-token', data.data)
    localStorage.setItem('email', email.value)
    location.href = "http://localhost:3000/evidencias/" + email.value
    alert("Ingreso existoso")
  })
}
</script>
{{/if}}
{{#if urlAdmin}}
{{> Admin}}
<script>
  let email = document.getElementById("email")
  let nombre = document.getElementById("nombre")
  let password = document.getElementById("password")
  let tbody = document.getElementById("cuerpo")
  let users = []

  window.onload = getData()
async function getData() {
  await axios.get("http://localhost:3000/admin").then((data) => {
    users = data.data
    console.log(users)
    tbody.innerHTML = ""
    users.forEach((c) => {
      tbody.innerHTML += `
      <tr>
        <td>${c.id}</td>
        <td>${c.nombre}</td>
        <td>${c.email}</td>
        <td><input onclick="validar(${c.id})" type="checkbox" checked></td>
      </tr>`
    })
  })
}
</script>
  {{/if}}
</body>
</html>

